<div id="about" class="d-flex flex-column justify-content-between">
  <div class="container-fluid my-4 d-flex flex-grow-1">
    <div class="row">
      <!--LEFT SIDE-->
      <div class="col-7 d-flex flex-column justify-content-center align-items-start">
        <!--LEFT MAIN TEXT-->
        <span class="figtree gray mb-5" style="font-size: 3rem;">
          <span id="japanese">Japanese</span>-<span id="philippines">Filipino</span> <span class="flipper"><span class="text-white" data-hover="Developer">Developer</span></span> committed to business-driven, user-centric solutions from <span class="flipper"><span class="text-white" data-hover="concept">concept</span></span> to <span class="flipper"><span class="text-white" data-hover="launch">launch</span></span>.
        </span>
        <!--LEFT SMALL TEXTS-->
        <div class="container-fluid d-flex justify-content-between align-items-center p-0 gray" >
          <!--BUSINESS TEXTS-->
          <div class="d-flex flex-column justify-content-center align-items-start" style="max-width: 250px;">
            <span style="font-size: 0.8rem;">
              Solid foundations in full-stack <span class="text-white">Ruby Programming</span>.
            </span>
          </div>
          <!--DEVELOPER TEXTS-->
          <div class="d-flex flex-column justify-content-center align-items-start" style="max-width: 250px; margin-right: 60px;">
            <span style="font-size: 0.8rem;">
              <span class="text-white">Web Development</span> course finished at <u><a href="https://www.lewagon.com/tokyo" class="text-white" target="_blank">Le Wagon - Tokyo</a></u>.
            </span>
          </div>
        </div>
      </div>
      <!--RIGHT SIDE-->
      <div class="col-5 row d-flex justify-content-center align-items-center g-3 bentos">
        <!--LEFT BENTO-->
        <div class="col-8 d-flex flex-column justify-content-center gap-3" style="height: 90vh;">
          <!--1st ROW (BUNPOFY BENTO)-->
          <div class="card bento-card rounded-4 border-0 bg-transparent-black" style="height: 30%;">
            <div class="card bento-card bunpofy rounded-4 border-0 bg-transparent-black h-100 overflow-hidden">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726652875/bunpofycover_swyme3.jpg" 
                    class="bento-card-img static-img" alt="bunpofy"  style="width: 100%; height: 100%; object-fit: cover;">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726653308/bunpofywebsite_oi1cyi.gif" 
                    class="bento-card-img animated-img" alt="bunpofy gif">
            </div>
          </div>
          <!--2nd ROW (FANTASY FLEET BENTO)-->
          <div class="card bento-card rounded-4 border-0 bg-transparent-black" style="height: 30%;">
            <div class="card bento-card fantasy-fleet rounded-4 border-0 bg-transparent-black h-100 overflow-hidden">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726656500/ffcover_baa1a3.jpg" 
                    class="bento-card-img static-img" alt="fantasy fleet"  style="width: 100%; height: 100%; object-fit: cover;">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726655920/ffwebsite_lnatok.gif" 
                    class="bento-card-img animated-img" alt="fantasy fleet gif">
            </div>
          </div>
          <!--3rd ROW (SMALL SQUARES BENTO)-->
          <div class="row g-3 mt-0" style="height: 15%;">
            <div class="col-4 mt-0">
              <div class="card bento-card lumos rounded-4 border-0 bg-transparent-black h-100 overflow-hidden">
                <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726410228/lumostatic_zcjzyf.jpg" 
                    class="bento-card-img static-img" alt="lumos" style="height: 100%;">
                <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726411034/lumos2_ubxsdz.gif" 
                    class="bento-card-img animated-img" alt="lumos gif">
              </div>
            </div>
            <div class="col-4 mt-0">
              <div class="card bento-card rounded-4 border-0 bg-transparent-gray h-100 d-flex justify-content-center align-items-center">
                <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726407888/d2684f40-ccb9-44c0-a4a4-f570db69647b.png" class="card-img bento-card-img w-50 rounded-4" alt="lewagon logo">
              </div>
            </div>
            <div class="col-4 mt-0">
              <div class="card bento-card rounded-4 border-0 bg-transparent-blue h-100 d-flex justify-content-center align-items-center">
                <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1723715958/favicon_yellow_aft4se.png" class="card-img bento-card-img w-50" alt="bunpofy logo">
              </div>
            </div>
          </div>
        </div>
        <!--RIGHT BENTO-->
        <div class="col-4 d-flex flex-column justify-content-center gap-3" style="height: 90vh;">
          <!--1st ROW (BUNPOFY STUDENT BENTO)-->
          <div class="card bento-card rounded-4 border-0 bg-transparent-black" style="height: 30%;">
            <div class="card bento-card bunpofy rounded-4 border-0 bg-transparent-black h-100 overflow-hidden">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726659375/bunpofystudent_nujfnj.jpg" 
                    class="bento-card-img static-img" alt="bunpofy"  style="width: 100%; height: 100%; object-fit: cover;">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726660345/bunpofystudentweb_c8hwte.gif" 
                    class="bento-card-img animated-img" alt="bunpofy gif">
            </div>
          </div>
          <!--2nd ROW (BUNPOFY GRAMMAR CHECK BENTO)-->
          <div class="card bento-card rounded-4 border-0 bg-transparent-black" style="height: 15%;">
            <div class="card bento-card bunpofy rounded-4 border-0 bg-transparent-black h-100 overflow-hidden">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726722337/grammarcheck_okzgsz.jpg" 
                    class="bento-card-img static-img" alt="bunpofy"  style="width: 100%; height: 100%; object-fit: cover;">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726722400/grammarcheckweb_qmamfk.gif" 
                    class="bento-card-img animated-img" alt="bunpofy gif">
            </div>
          </div>
          <!--3rd ROW (FANTASY FLEET MOBILE)-->
          <div class="card bento-card rounded-4 border-0 bg-transparent-black" style="height: 30%;">
            <div class="card bento-card fantasy-fleet rounded-4 border-0 bg-transparent-black h-100 overflow-hidden">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726662978/fantasyfleetmobilecover_xsccse.jpg" 
                    class="bento-card-img static-img" alt="fantasy fleet"  style="width: 100%; height: 100%; object-fit: cover;">
              <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1726662689/fantasyfleetmobileweb_apgbf6.gif" 
                    class="bento-card-img animated-img" alt="fantasy fleet gif">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>