<div id="contact" class="container-fluid p-5 d-flex justify-content-center align-items-center">
  <div class="rounded-4 m-0 bg-gray d-flex flex-column justify-content-center align-items-center h-100 w-100">
    <div class="light-gray chakra mb-4">(Need a good leverage for your business?)</div>
    <div class="text-white chakra fs-2 mb-4 d-flex flex-column justify-content-center align-items-center">
      <span class="contact-title lh-1">LET'S MAKE</span>
      <span class="contact-title lh-1">IT HAPPEN</span>
    </div>
    <button class="booking-button booking-button-medium">
      <svg xmlns="http://www.w3.org/2000/svg" class="arr-2" viewBox="0 0 24 24">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
      <span class="text">BOOK A CALL</span>
      <span class="circle"></span>
      <svg xmlns="http://www.w3.org/2000/svg" class="arr-1" viewBox="0 0 24 24">
        <path
          d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"
        ></path>
      </svg>
    </button>
<!--bottom part-->
    <div class="contact-bottom d-flex justify-content-between align-items-end px-5">
      <div class="border border-1 border-white d-flex" style="height: 80px; width: 300px;">
        <div class="border border-white" style="height: 100%; width: 80px;"><img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1728769963/earth_jkrsnk.gif" alt="earth-img" style="height: 100%; width: 100%; opacity: 0.25;"></div>
        <div class="d-flex flex-column justify-content-center chakra" style="height: 100%; width: 218px;">
          <div class="border border-white ps-2 w-100 d-flex align-items-center" style="height: 50%;">Working Globally</div>
          <div class="border border-white ps-2 w-100 d-flex align-items-center" style="height: 50%;">Available Immediately</div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-end align-items-end d-none d-md-block" style="height: 80px; width: 300px;">
        <span class="fs-6 gray">FOR FURTHER INQUIRIES</span>
        <span><i class="fa-regular fa-envelope"></i>  <a href="mailto:tairashingie@gmail.com" class="text-white">tairashingie@gmail.com</a>
</span>
      </div>
    </div>
  </div>
</div>
<div style="display: none;" id="google-button">
  <!-- Google Calendar Appointment Scheduling begin -->
  <link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
  <script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
  <script>
  (function() {
    var target = document.currentScript;
    window.addEventListener('load', function() {
      calendar.schedulingButton.load({
        url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ2PyrLocZgesKbUtVUrMkUxe4Xh3OcjxCMaLZMnM-5QnbtJn8ApR2y-zI9EzV6wRm3buUpNarlg?gv=true',
        color: '#616161',
        label: "Book a Call",
        target,
      });
    });
  })();
  </script>
  <!-- end Google Calendar Appointment Scheduling -->
</div>