<div id="contact" class="container-fluid p-5 d-flex justify-content-center align-items-center border border-warning">
  <div class="rounded-4 m-0 bg-gray d-flex flex-column justify-content-center align-items-center border border-info h-100 w-100">
    <div class="light-gray chakra mb-4">(Need an unfair advantage?)</div>
    <div class="text-white chakra fs-2 mb-4 d-flex flex-column justify-content-center align-items-center">
      <span class="contact-title lh-1">LET'S MAKE</span>
      <span class="contact-title lh-1">IT HAPPEN</span>
    </div>
    <button class="booking-button text-white border-0 rounded-pill">BOOK A CALL</button>
    <div class="contact-bottom d-flex justify-content-between align-items-end px-4"><!--bottom part-->
      <div class="border border-1 border-white d-flex" style="height: 80px; width: 300px;">
        <div class="border border-white" style="height: 100%; width: 100px;"></div>
        <div class="d-flex flex-column justify-content-center chakra" style="height: 100%; width: 198px;">
          <div class="border border-white ps-2 w-100" style="height: 50%;">Working Globally</div>
          <div class="border border-white ps-2 w-100" style="height: 50%;">Available Immediately</div>
        </div>
      </div>
      <div class="d-flex flex-column justify-content-end align-items-end" style="height: 80px; width: 300px;">
        <span class="fs-6">FOR FURTHER INQUIRIES</span>
        <span>↘️tairashingie@gmail.com</span>
      </div>
    </div>
  </div>
</div>