<div class="row mt-5">
  <div class="col-12">
    <span class="figtree-bold lh-1 gray mb-5 d-flex flex-column justify-content-end footer-text" style="font-size: 2rem;">
      <span>© 2024 SHINGIE TAIRA</span>
      <span>All rights reserved.</span>
    </span>
  </div>
</div>
