<nav class="navbar bg-transparent mx-5 mt-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white">SHIN</a>
    <div>
      <a href="#" class="text-white">Services</a>
    </div>
  </div>
</nav>