<%# <nav class="navbar bg-transparent mx-5 mt-3">
  <div class="container-fluid">
    <a class="navbar-brand text-white">SHIN</a>
    <div class="d-flex gap-4">
      <a href="#projects" class="text-white">Projects</a>
      <a href="#personal" class="text-white">About Me</a>
    </div>
  </div>
</nav> %>