<div id="personal" class="my-4 container-fluid p-0">
  <h1 class="figtree-bold mb-5 font-1">ABOUT <span class="shin bruno">ME</span> /</h1>
  <div class="row m-0 g-3 w-100 border border-1 border-danger" style="min-height: 97vh;">
    <!--FIRST COLUMN-->
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-3 align-items-center h-100 border border-1 border-warning">
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="height: 240px;">
        <span class="figtree font-4">Dynamic developer leveraging strong business insight to craft clean and creative designs that elevate brands, enhance user experiences, and drive measurable success for businesses.</span>
        <div class="d-flex justify-content-start gray">
          <div class="icon-container" onclick="copyToClipboard()">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727077518/mail_wzhc8j.png" alt="email" class="static-icon">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727077332/mail_gkfsbn.gif" alt="email Animation" class="animated-icon">
            <span class="custom-tooltip chakra-light">Copy E-mail</span>
          </div>
          <a href="https://www.linkedin.com/in/shingietaira/" target="_blank" class="icon-container">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727076709/linkedin_pql9ci.png" alt="LinkedIn" class="static-icon">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727076754/linkedin_dzgvyy.gif" alt="LinkedIn Animation" class="animated-icon">
            <span class="custom-tooltip chakra-light">Go to LinkedIn</span>
          </a>
          <a href="https://github.com/super-shin" target="_blank" class="icon-container">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727075426/github_qdtgbh.png" alt="Github" class="static-icon">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727075914/githublack_tlk47t.gif" alt="Github Animation" class="animated-icon">
            <span class="custom-tooltip chakra-light">Go to Github</span>
          </a>
        </div>
      </div>
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="height: 780px;">
        <span class="font-4 chakra flipper"><span data-hover="MY BACKGROUND">MY BACKGROUND</span></span>
        <p class="font-6 chakra gray mt-4">I come from a <span class="text-white">multicultural background</span>, having roots from the Philippines and Japan. From a young age, I've always been captivated by the power of creativity and the ability to build something from nothing. That fascination has been the driving force behind everything I do, constantly pushing me to create with purpose and vision.</p>
        <p class="font-6 chakra gray">My journey into the world of <span class="text-white">technology</span> began in the early 2000s during high school when the digital revolution was in full swing. However, it wasn't until college that I truly realized the impact technology could have. One of my first major projects was developing an inventory application for a local business as part of an IT course. It was a challenge that opened my eyes to the real-world value of tech, seeing how it transformed their operations and simplified record-keeping.</p>
        <p class="font-6 chakra gray">Although I earned my bachelor's degree in <span class="text-white">business</span>, I felt an undeniable pull towards tech. To sharpen my skills, I attended a <u class="text-white">bootcamp in Tokyo</u>, which further fueled my passion. My background in business gives me a unique perspective, allowing me to understand how technology and business can seamlessly converge.</p>
        <p class="font-6 chakra gray">I'm driven by the idea that the right combination of <span class="text-white">innovation</span> and <span class="text-white">creativity</span> can make products and services more accessible, enhance quality, and ultimately improve people's lives.</p>
        <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727410474/shin_bigz7d.png" alt="Shin Sign" style="height: 50px; width: 50px;">
      </div>
    </div>
    <!--SECOND COLUMN-->
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-3 align-items-center h-100 border border-1 border-warning">
      <div class="card personal-card rounded-4 w-100 personal-cover border-0" style="height: 420px; background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727411912/shingiecover_rivu1l.jpg'); background-size: cover; background-position: center; border-radius: 16px;">
      </div>
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="height: 200px;">
        <div class="font-4 chakra flipper mb-4"><span data-hover="EDUCATION">EDUCATION</span></div>
        <div class="">
          <div class="row w-100">
            <div class="col-5 gray font-6">2024</div>
            <div class="col-7 text-white">
              <p class="mb-0 font-7">Web Development Bootcamp</p>
              <p class="gray font-8">Le Wagon Tokyo</p>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-5 gray font-6">2019</div>
            <div class="col-7 text-white">
              <p class="mb-0 font-7">BSBA in Financial Management</p>
              <p class="gray font-8">Philippine School of Business Administration</p>
            </div>
          </div>
        </div>
      </div>
      <div class="card personal-card rounded-4 w-100" style="height: 80px; position: relative;">
        <div class="font-4 chakra flipper mt-1" style="white-space: nowrap;">
          <span data-hover="LANGUAGES">LANGUAGES</span>
        </div>
        <div class="d-flex gap-2" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%);">
          <div class="language en-icon">EN
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727599041/847528be-9989-470d-a847-99fab1055fc8.png" alt="english" style="background-size: cover;">
            <span class="custom-tooltip chakra-light">English: Fluent</span>
          </div>
          <div class="language ph-icon">PH
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727601275/a60cc3ed-0182-46d4-9249-b6ff054abb61.png" alt="filipino" style="background-size: cover;">
            <span class="custom-tooltip chakra-light">Filipino: Fluent</span>
          </div>
          <div class="language jp-icon">JP
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727601201/2ca0b876-fe86-47e2-beed-3571585c932b.png" alt="japanese" style="background-size: cover;">
            <span class="custom-tooltip chakra-light">Japanese: N2 Level</span>
          </div>
          <div class="language fr-icon">FR
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727601341/203953ab-48f9-4fa2-a2ed-e91983a05c87.png" alt="french" style="background-size: cover;">
            <span class="custom-tooltip chakra-light">French: Basic</span>
          </div>
        </div>
      </div>
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="height: 300px;">
        <div class="font-4 chakra flipper mb-4"><span data-hover="EXPERIENCES">EXPERIENCES</span></div>
        <div class="">
          <div class="row w-100">
            <div class="col-5 gray font-6">2024 — Present</div>
            <div class="col-7 text-white">
              <p class="mb-0 font-7">Web Developer</p>
              <p class="gray font-8">Freelance, CA</p>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-5 gray font-6">2020 — 2024</div>
            <div class="col-7 text-white">
              <p class="mb-0 font-7">English Language Teacher</p>
              <p class="gray font-8">Board of Education, JP</p>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-5 gray font-6">2019 — 2020</div>
            <div class="col-7 text-white">
              <p class="mb-0 font-7">Executive Search Consultant</p>
              <p class="gray font-8">BK Management & Consultancy, PH</p>
            </div>
          </div>
          <div class="row w-100">
            <div class="col-5 gray font-6">2015 — 2016</div>
            <div class="col-7 text-white">
              <p class="mb-0 font-7">Market Research Associate</p>
              <p class="gray font-8">Convergys Incorporation, PH</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--THIRD COLUMN (Show on small screens, hidden on md screens)-->
    <div class="col-12 col-lg-4 d-flex flex-column d-md-none d-lg-flex gap-3 align-items-center h-100 border border-1 border-warning">
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="height: 180px;">
        <div class="font-4 chakra flipper"><span data-hover="TOOLS STACK">TOOLS STACK</span></div>
        <div class="container">
          <div class="row mb-2 justify-content-between">
            <!-- First row -->
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727611455/ruby_lc8inh.png');"></div>
              <div class="logo-tooltip">Ruby</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727616917/html_oedbif.png');"></div>
              <div class="logo-tooltip">HTML</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727614107/css_a4qm1h.png');"></div>
              <div class="logo-tooltip">CSS</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727617151/js_vhdwdu.png');"></div>
              <div class="logo-tooltip">JavaScript</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727617335/react_dtgqq5.png');"></div>
              <div class="logo-tooltip">React</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727617804/sql_dysfcw.png');"></div>
              <div class="logo-tooltip">SQL</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727618081/vue_al8tfi.png');"></div>
              <div class="logo-tooltip">Vue</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727620382/vscode_wleehe.png');"></div>
              <div class="logo-tooltip">VSCode</div>
            </div>
          </div>
          <div class="row justify-content-between">
            <!-- Second row -->
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727618307/figma_afycxm.png');"></div>
              <div class="logo-tooltip">Figma</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727618896/ps_rliora.png');"></div>
              <div class="logo-tooltip">Photoshop</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727619178/framer_kr63cl.png');"></div>
              <div class="logo-tooltip">Framer</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727619408/notion_gn9dob.png');"></div>
              <div class="logo-tooltip">Notion</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727619797/bootstrap_tgig8g.png');"></div>
              <div class="logo-tooltip">Bootstrap</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727619867/canva_z1flh0.png');"></div>
              <div class="logo-tooltip">Canva</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727620084/illustrator_zktnvm.png');"></div>
              <div class="logo-tooltip">Illustrator</div>
            </div>
            <div class="col-auto p-0 logo-container">
              <div class="logo-icon" style="background-image: url('https://res.cloudinary.com/ddzvfukq6/image/upload/v1727620169/procreate_nsqa2j.png');"></div>
              <div class="logo-tooltip">Procreate</div>
            </div>
          </div>
        </div>
      </div>
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="min-height: 180px;">
        <div class="font-4 chakra mb-4 flipper"><span data-hover="MUSIC JAMS">MUSIC JAMS</span></div>
        <div class="spotify-container d-flex flex-column gap-3">
          <iframe src="https://open.spotify.com/embed/track/2DLrgv7HhJanCuD8L9uJLR?utm_source=generator&theme=0"
                  frameborder="0" 
                  width="100%"
                  height="80"
                  allowtransparency="true"
                  allow="encrypted-media;">
          </iframe>
          <iframe src="https://open.spotify.com/embed/track/1yjY7rpaAQvKwpdUliHx0d?utm_source=generator&theme=0"  
                  frameborder="0" 
                  width="100%"
                  height="80"
                  allowtransparency="true"
                  allow="encrypted-media">
          </iframe>
          <iframe src="https://open.spotify.com/embed/track/43zdsphuZLzwA9k4DJhU0I?utm_source=generator&theme=0"  
                  frameborder="0" 
                  width="100%"
                  height="80"
                  allowtransparency="true"
                  allow="encrypted-media">
          </iframe>
        </div>
      </div>
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between p-0" style="min-height: 180px;">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
          </div>
          <div class="carousel-inner rounded-4">
            <div class="carousel-item active">
              <img src="https://via.placeholder.com/500x300/FF5733" class="d-block w-100" alt="Image 1">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/500x300/33FF57" class="d-block w-100" alt="Image 2">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/500x300/3357FF" class="d-block w-100" alt="Image 3">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/500x300/FF33A6" class="d-block w-100" alt="Image 4">
            </div>
            <div class="carousel-item">
              <img src="https://via.placeholder.com/500x300/5733FF" class="d-block w-100" alt="Image 5">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
