<div id="personal" class="my-4 container-fluid p-0">
  <h1 class="figtree-bold mb-5 font-1">ABOUT <span class="shin bruno">ME</span> /</h1>
  <div class="row m-0 g-3 w-100 border border-1 border-danger" style="min-height: 97vh;">
    <!--FIRST COLUMN-->
    <div class="col-12 col-md-6 col-lg-4 d-flex flex-column gap-3 align-items-center h-100 border border-1 border-warning">
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="height: 240px;">
        <span class="figtree font-4">Dynamic developer leveraging strong business insight to craft clean and creative designs that elevate brands, enhance user experiences, and drive measurable success for businesses.</span>
        <div class="d-flex justify-content-start gray">
          <div class="icon-container" onclick="copyToClipboard()">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727077518/mail_wzhc8j.png" alt="email" class="static-icon">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727077332/mail_gkfsbn.gif" alt="email Animation" class="animated-icon">
            <span class="custom-tooltip chakra-light">Copy E-mail</span>
          </div>
          <a href="https://www.linkedin.com/in/shingietaira/" target="_blank" class="icon-container">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727076709/linkedin_pql9ci.png" alt="LinkedIn" class="static-icon">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727076754/linkedin_dzgvyy.gif" alt="LinkedIn Animation" class="animated-icon">
            <span class="custom-tooltip chakra-light">Go to LinkedIn</span>
          </a>
          <a href="https://github.com/super-shin" target="_blank" class="icon-container">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727075426/github_qdtgbh.png" alt="Github" class="static-icon">
            <img src="https://res.cloudinary.com/ddzvfukq6/image/upload/v1727075914/githublack_tlk47t.gif" alt="Github Animation" class="animated-icon">
            <span class="custom-tooltip chakra-light">Go to Github</span>
          </a>
        </div>
      </div>
      <div class="card personal-card rounded-4 w-100 d-flex justify-content-between" style="height: 720px;">
        <span class="font-4 chakra">MY BACKGROUND</span>
        <p class="font-6 chakra gray">I come from a multicultural background, having roots from the Philippines and Japan. From a young age, I've always been captivated by the power of creativity and the ability to build something from nothing. That fascination has been the driving force behind everything I do, constantly pushing me to create with purpose and vision.</p>
        <p class="font-6 chakra gray">My journey into the world of technology began in the early 2000s during high school when the digital revolution was in full swing. However, it wasn't until college that I truly realized the impact technology could have. One of my first major projects was developing an inventory application for a local business as part of an IT course. It was a challenge that opened my eyes to the real-world value of tech-seeing how it transformed their operations and simplified record-keeping.</p>
        <p class="font-6 chakra gray">Although I earned my bachelor's degree in business, I felt an undeniable pull towards web development. To sharpen my skills, I attended a bootcamp in Tokyo, which further fueled my passion for tech. My background in business gives me a unique perspective, allowing me to understand how technology and business seamlessly converge. I'm driven by the idea that the right combination of innovation and creativity can make products and services more accessible, enhance quality, and ultimately improve people's lives.</p>
      </div>
    </div>
    <!--SECOND COLUMN-->
    <div class="col-12 col-md-6 col-lg-4 d-flex g-3 align-items-center h-100 border border-1 border-warning">
      <div class="card personal-card rounded-4 w-100" style="height: 240px;">
        <!-- You can add content here if needed -->
      </div>
    </div>
    <!--THIRD COLUMN (Show on small screens, hidden on md screens)-->
    <div class="col-12 col-lg-4 d-flex d-md-none d-lg-flex g-3 align-items-center h-100 border border-1 border-warning">
      <div class="card personal-card rounded-4 w-100" style="height: 240px;">
        <!-- You can add content here if needed -->
      </div>
    </div>
  </div>
</div>
