<!---<div class="row my-5 border border-1 border-warning">
  <div class="col-12">
    <div id="contact">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-solid fa-envelope"></i>
          <%= mail_to "my_name@example.com", "", class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-github"></i>
          <%= link_to "", "#", target: '_blank', class: 'button-social-link' %>
        </div>
        <div class="button-social d-flex flex-column justify-content-center align-items-center">
          <i class="fa-brands fa-linkedin"></i>
          <%= link_to "", "#", target: '_blank', class: 'button-social-link' %>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<!-- Embedded Spotify player -->
<iframe src="https://open.spotify.com/embed/track/1yjY7rpaAQvKwpdUliHx0d" 
        width="300" 
        height="380" 
        frameborder="0" 
        allowtransparency="true" 
        allow="encrypted-media">
</iframe>
</div>
<style>
  .spotify-section {
      text-align: center;
  }

  .spotify-image {
      width: 300px;
      height: 300px;
      margin-bottom: 10px;
  }
</style>
