#about {
    min-height: 100vh;
    background-color: transparent;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size: 50px 50px;
}

#japanese {
    background: linear-gradient(to right, white 33%, red 33% 66%, white 66%);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -ms-background-clip: text;
    -o-background-clip: text;
    transition: color 1s ease;
}

#japanese:hover {
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#philippines {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Flag_of_the_Philippines.svg/2560px-Flag_of_the_Philippines.svg.png');
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    transition: color 1s ease;
}

#philippines:hover {
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.flipper {
    transition: color 0.3s;
}

.flipper {
    perspective: 1000px;

    span {
        position: relative;
        display: inline-block;
        padding: 0;    
        transition: transform 0.3s;
        transform-origin: 50% 0;
        transform-style: preserve-3d;
    }

    span:before {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        content: attr(data-hover);
        transition: color 0.3s;
        transform: rotateX(-90deg);
        transform-origin: 50% 0;
        text-align: center;
    }

    &:hover span,
    &:focus span {
        transform: rotateX(90deg) translateY(-22px);
    }

    &:hover span:before,
    &:focus span:before {
        color: $yellow;
    }
}

.bg-transparent-black {
    background-color: rgba(0, 0, 0, 0.574);
}

.bg-transparent-blue {
    background-image: linear-gradient(
        135deg,
        hsl(223deg, 100%, 24%) 0%,
        hsl(225deg, 95%, 27%) 6%,
        hsl(229deg, 84%, 33%) 12%,
        hsl(235deg, 74%, 38%) 19%,
        hsl(240deg, 66%, 44%) 27%,
        hsl(246deg, 69%, 47%) 36%,
        hsl(252deg, 73%, 49%) 47%,
        hsl(257deg, 82%, 51%) 61%,
    hsl(262deg, 94%, 51%) 75%,
    hsl(264deg, 100%, 57%) 85%,
    hsl(264deg, 100%, 63%) 91%,
    hsl(265deg, 99%, 68%) 94%,
    hsl(266deg, 98%, 73%) 97%,
    hsl(267deg, 95%, 78%) 98%,
    hsl(268deg, 91%, 82%) 99%,
    hsl(269deg, 83%, 86%) 100%,
    hsl(269deg, 67%, 90%) 100%,
    hsl(270deg, 27%, 94%) 100%
    );
    transition: filter 0.5s ease;
}

.bg-transparent-blue img {
    transition: transform 1s ease;
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.8));
}

.bg-transparent-blue:hover img {
    transform: scale(1.25);
}

.bg-transparent-gray {
    background-image: linear-gradient(
    0deg,
    hsl(0deg, 0%, 0%) 0%,
    hsl(343deg, 0%, 6%) 0%,
    hsl(343deg, 0%, 10%) 0%,
    hsl(344deg, 0%, 14%) -1%,
    hsl(344deg, 0%, 17%) -1%,
    hsl(344deg, 0%, 21%) -1%,
    hsl(344deg, 0%, 25%) -1%,
    hsl(344deg, 0%, 29%) -1%,
    hsl(344deg, 0%, 34%) -2%,
    hsl(344deg, 0%, 38%) -2%,
    hsl(344deg, 0%, 42%) -2%,
    hsl(344deg, 0%, 47%) -1%,
    hsl(344deg, 0%, 51%) -1%,
    hsl(344deg, 0%, 56%) 0%,
    hsl(344deg, 0%, 60%) 3%,
    hsl(344deg, 0%, 65%) 13%,
    hsl(344deg, 0%, 70%) 35%,
    hsl(344deg, 0%, 75%) 50%,
    hsl(344deg, 0%, 80%) 63%,
    hsl(344deg, 0%, 85%) 73%,
    hsl(344deg, 0%, 90%) 83%,
    hsl(344deg, 0%, 95%) 92%,
    hsl(0deg, 0%, 100%) 100%
  );
    transition: filter 0.5s ease;
}

.bg-transparent-gray img {
    transition: transform 1s ease;
}

.bg-transparent-gray:hover img {
    transform: scale(1.25);
}

.lumos {
    position: relative;
    overflow: hidden;
}

.static-img {
    position: absolute;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.animated-img {
    height: 100%;
    opacity: 0;
}

.lumos:hover .static-img {
    opacity: 0;
}

.lumos:hover .animated-img {
    opacity: 1;
}

.bentos {
    transition: filter 0.5s ease;
}

.bento-card {
    transition: filter 0.5s ease;
}

.bento-card:hover {
    cursor: pointer;
}

.bunpofy {
    position: relative;
    overflow: hidden;
}

.bunpofy:hover .static-img {
    opacity: 0;
}

.bunpofy:hover .animated-img {
    opacity: 1;
}

.fantasy-fleet {
    position: relative;
    overflow: hidden;
}

.fantasy-fleet:hover .static-img {
    opacity: 0;
}

.fantasy-fleet:hover .animated-img {
    opacity: 1;
}