#personal {
    min-height: 100vh;
    width: 100%;
    border: solid 1px yellow;
}

.personal-card {
    width: 100%;
    border: 0.1px rgba(136, 136, 136, 0.2) solid;
    background-color: rgba(59, 59, 59, 0.20);
    padding: 20px;
}

.icon-container {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.static-icon {
    opacity: 0.6;
}

.static-icon,
.animated-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transition: all 1s ease;
}

.animated-icon {
    opacity: 0;
}

.icon-container:hover .static-icon {
    opacity: 0;
}

.icon-container:hover .animated-icon {
    opacity: 1;
    transform: scale(1.4);
}

.custom-tooltip {
    visibility: hidden;
    font-size: 0.8rem;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -40px;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.8s;
}

.icon-container:hover .custom-tooltip,
.language:hover .custom-tooltip {
    visibility: visible;
    opacity: 1;
}


.custom-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.language {
    height: 40px;
    width: 40px;
    background: rgba(36, 36, 36, 0.487);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.language img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 10%;
    object-fit: cover;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease, width 0.5s ease, height 0.5s ease;
}

.language:hover img {
    opacity: 1;
    width: 75%;
    height: 75%;
}
