@media (max-width: 576px) {
    .container {
        overflow: hidden !important;
    }

    .sm-hidden {
        display: none !important;
    }

// navbar section
    .navbar {
        margin: 0 !important;
        margin-left: 30px !important;
    }

// banner section
    .banner {
        min-height: 70vh !important;
    }

    .title-main {
        font-size: 4.5rem !important;
    }

    .pic-bg {
        height: 400px !important;
        width: 400px !important;
        margin-top: 150px !important;
    }
    
    .availability {
        margin-right: 4px;
    }

    .seeking-ft {
        font-size: 0.8rem !important;
    }

// about section
    #about {
        max-width: 100vw !important;
    }

    .about-text {
        font-size: 1.6rem !important;
        margin-top: 100px !important;
    }

    .about-sub-left, .about-sub-right {
        font-size: 0.7rem !important;
    }

    .about-sub-right {
        margin-left: 10px !important;
    }

    .about-text, .about-left-sub-texts, .bentos {
        max-width: 100vw !important;
    }

// projects section
    .projects-main-text {
        font-size: 4rem !important;
    }

    .fs-5 {
        font-size: 0.6rem !important;
    }

    .scroll-section {
        max-height: 70vh !important;
        margin-bottom: 10px !important;
    }

    .projects-caption {
        height: 80px !important;
        flex-direction: column;
    }

    .projects-subtext {
        align-self: flex-start !important;
    }

    .fs-6 {
        font-size: 0.8rem !important;
    }

// personal section
    #personal h1 {
        font-size: 4rem !important;
        margin-bottom: 0 !important;
    }

// contact section
    #contact {
        height: 75vh;
        padding: 0 !important;
    }

    .contact-title {
        font-size: 4rem;
    }

    .contact-bottom {
        padding-left: 0 !important;
        padding-right: 0 !important;
        justify-content: center !important;
    }
}